mixin button({theme,text,arrow,href})
    case theme
        default
            a.button-with-background
                .button-with-background__text=text
        
        when "with-border"
            a.button-with-border=text

        when "without-background"
            a.button-without-background(href=href)=text
            

        when "with-arrow"
            a.button-with-arrow(href=href)
                .button-with-arrow__text=text