mixin button({theme,text,arrow,href,classes})
    case theme
        default
            a.button-with-background(class=classes)
                .button-with-background__text=text
        
        when "with-border"
            .border-wrap
                a.button-with-border(href=href,class=classes)=text

        when "without-background"
            a.button-without-background=text
            
        when "with-arrow"
            a.button-with-arrow(href=href)
                .button-with-arrow__text=text