mixin button({theme,text,href,classes})
    case theme
        default
            a.button-with-background(class=classes,href=href)
                .button-with-background__text=text
        
        when "with-border"
            a.button-with-border(href=href,class=classes)
                span.button-with-border__wrapper
                    span.button-with-border__text=text

        when "without-background"
            a.button-without-background=text
            
        when "with-arrow"
            a.button-with-arrow(href=href)
                .button-with-arrow__text=text