mixin field({variables,title,type,name,placeholder,value,disabled,id,classes,readonly})
    case variables
        default
            .field
                .field__item(class = classes)
                    h3.field__title=title 
                    label.field__container
                        input.field__input(type=type,name=name,placeholder=placeholder,value=value,id=id,disabled=disabled)
        when "with-dropdown"
            .field(class=classes)
                .field__dropdown
                    h3.field__title=title 
                    input.field__input(readonly,type=type,name=name,placeholder=placeholder,value=value)
        when "with-arrow"
            .field
                .field__arrow
                    h3.field__title=title 
                    input.field__input(type=type,name=name,placeholder=placeholder,value=value,id=id)