mixin field({theme,title,type,name,placeholder,value,disabled,id,classes,readonly,required,pattern})
    case theme
        default
            .field
                label.field__container
                    h3.field__title=title 
                    input.field__input(type=type,name=name,placeholder=placeholder,value=value,id=id,disabled=disabled,required=required,pattern=pattern,readonly=readonly,class = classes)
                    
        when "with-dropdown"
            .field
                label.field__dropdown
                    h3.field__title=title 
                    input.field__input(readonly,type=type,name=name,placeholder=placeholder,value=value,class=classes)
                    
        when "with-arrow"
            .field
                label.field__arrow
                    h3.field__title=title 
                    input.field__input(type=type,name=name,placeholder=placeholder,value=value,id=id)