mixin field({theme,title,type,name,placeholder,value,disabled,id,classes,readonly,datas})
    case theme
        default
            .field
                .field__item(class = classes)
                    h3.field__title=title 
                    label.field__container
                        input.field__input(type=type,name=name,placeholder=placeholder,value=value,id=id,disabled=disabled)
        when "with-dropdown"
            .field
                label.field__dropdown
                    h3.field__title=title 
                    input.field__input(readonly,type=type,name=name,placeholder=placeholder,value=value,class=classes,data-class=datas)
        when "with-arrow"
            .field
                h3.field__title=title 
                .field__arrow
                    input.field__input.field__input_arrow(type=type,name=name,placeholder=placeholder,value=value,id=id)