include ../field/field

mixin footer(theme,description,title,text,navigation=[])
    .footer
        case theme
            when theme="small"
                .footer-small__main
                    .footer-small__description
                        a.footer-small__img-link(href="")
                            img.footer-small__img(src="logo-with-text.svg")
                    .footer-small__sub
                        p.footer-small__copyright Copyright © 2018 Toxin отель. Все права защищены.
                        ul.footer-small__social-list
                            li.footer-small__social-list-item
                                a.footer-small__social-link(href='')
                                    img(src="tw.svg")
                            li.footer-small__social-list-item
                                a.foote-small__social-link(href='')
                                    img(src="fb.svg")
                            li.footer-small__social-list-item
                                a.footer-small__social-link(href='')
                                    img(src="ig.svg")
            default
                .footer__main
                    .footer__description
                        a.footer__img-link(href="")
                            img.footer__img(src="components/footer/img/logo-with-text.svg")
                        p.footer__text=description  
                    .footer__nav
                        each nav in navigation
                            .footer__nav-container
                                h3.footer__title=nav.title
                                ul.footer__list-item
                                    each item in nav.items
                                        li.footer__item
                                            a.footer__link=item.text
                    .footer__subscription
                        h3.footer__title=title
                        p.footer__text=text
                        +field({theme:"with-arrow",placeholder:"Email"})
                .footer__sub
                    p.footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
                    ul.footer__social-list
                        li.footer__social-list-item
                            a.footer__social-link(href='')
                                img(src="components/footer/img/tw.svg")
                        li.footer__social-list-item
                            a.footer__social-link(href='')
                                img(src="components/footer/img/fb.svg")
                        li.footer__social-list-item
                            a.footer__social-link(href='')
                                img(src="components/footer/img/ig.svg")